@font-face {
  font-family: sanslight;
  src: url("../fonts/Roboto-light.ttf");
}
@font-face {
  font-family: sansregular;
  src: url("../fonts/Roboto-regular.ttf");
}
@font-face {
  font-family: sansbold;
  src: url("../fonts/Roboto-bold.ttf");
}
@font-face {
  font-family: sansmedium;
  src: url("../fonts/Roboto-medium.ttf");
}
@font-face {
  font-family: title;
  src: url("../fonts/RobotoCondensed-Bold.ttf");
}
