/* line 2, ../sass/phone.scss */
#about, #contact, #project {
  padding-left: 25px;
}

/* line 7, ../sass/phone.scss */
#home .project, #work .project {
  width: Calc((100% - 25px) /  1 );
}
/* line 9, ../sass/phone.scss */
#home .project .coverimage, #work .project .coverimage {
  height: Calc(((( 100vw - 25px) / 1 ) - 25px) / 1.618);
}

/* line 17, ../sass/phone.scss */
#project #project-info #client {
  margin-bottom: 25px;
}
/* line 19, ../sass/phone.scss */
#project #project-info #client #name {
  width: 100%;
}
/* line 25, ../sass/phone.scss */
#project #project-media .img {
  display: inline-block;
  background-color: #000;
  opacity: 0.2;
  margin-bottom: 25px;
}
/* line 31, ../sass/phone.scss */
#project #project-media .img.landscape {
  width: 100%;
  height: Calc((100vw - 50px) / 1.618);
}
/* line 35, ../sass/phone.scss */
#project #project-media .img.portrait {
  height: Calc(100vh - 50px);
  width: Calc((100vh - 50px) / 1.618);
}

/* line 45, ../sass/phone.scss */
#about #clients .info-block .left {
  display: block;
  margin-bottom: 25px;
}
/* line 49, ../sass/phone.scss */
#about #clients .info-block .right {
  width: 100%;
}

/* line 59, ../sass/phone.scss */
#contact section #headline #info {
  margin-bottom: 50px;
}
